@import '../../common/constants';

.product-form {
  width: 500px;
  margin: 0 auto;

  &__form {
    display: flex;
    flex-flow: column nowrap;
    gap: $input-gap;
  }

  &__button {
    text-align: center;
  }
}